<a href="https://colab.research.google.com/github/shoaibakhtar20/Spark/blob/master/SapientAssessment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz


!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"
import findspark
findspark.init()

In [94]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import unix_timestamp
import pyspark.sql.functions as func
from pyspark.sql.functions import lit
import dateutil.parser

In [95]:
spark = SparkSession.builder.appName("SapientAssessment").config("spark.some.config.option", "some-value").getOrCreate()

In [96]:
clickstream_raw = spark.read.csv("/content/drive/My Drive/UdemyHandsOn/Sapient_Clickstrea.csv", header='true')
clickstream_raw.show()

+--------------------+------+
|           timestamp|userid|
+--------------------+------+
|2018-01-01T11:00:00Z|    u1|
|2018-01-01T12:00:00Z|    u1|
|2018-01-01T11:00:00Z|    u2|
|2018-01-02T11:00:00Z|    u2|
|2018-01-01T12:15:00Z|    u1|
+--------------------+------+

In [ ]:
clickstream_raw.registerTempTable("clickstream_raw_table")

day_aggregation = sqlContext.sql("""
    SELECT DAY(timestamp) AS day, SUM(sessionid) AS sessionid_sum
    FROM clickstream_raw_table
    GROUP BY DAY(timestamp)""")

month_aggregation = sqlContext.sql("""
    SELECT SUM(DAY(timestamp)) AS sum_day, userid
    FROM clickstream_raw_table
    GROUP BY DAY(timestamp), userid """)

month_aggregation_2 = sqlContext.sql("""
    SELECT SUM(MONTH(timestamp)) AS sum_month, userid
    FROM clickstream_raw_table
    GROUP BY MONTH(timestamp), userid """)