<a href="https://colab.research.google.com/github/shoaibakhtar20/Spark/blob/master/SparkSQL_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing Pyspark

In [0]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz


!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"
import findspark
findspark.init()

Initializing Spark Session and Spark Context

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Fraud Analysis using Spark SQL").config("spark.some.config.option", "some-value").getOrCreate()
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [0]:
from pyspark.sql import Row
row = Row(["Name", "Age"])

In [0]:
People_Rdd = sc.parallelize([("Michael"),("Andy",30),("Justin",19)])
People_Rdd.collect()

['Michael', ('Andy', 30), ('Justin', 19)]

In [0]:
import json
People_df = spark.read.json("/content/People.json")
People_df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [0]:
People_df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
People_df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [24]:
People_df.select(People_df["name"], People_df["age"]+1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [25]:
People_df.select(People_df['name'], People_df['age']+1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [27]:
People_df.count()

3

In [29]:
People_df.groupBy("age").count().show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

In [0]:
People_df.createOrReplaceTempView("people")
sql_people_df = spark.sql("Select * from ")